/* NavBar */

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    background-color: #000000;


}

.nav.navbar-nav >li>a {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 4;
    margin-right: 4px;
    

}
    
.nav.navbar-nav >li>a:hover {
    color:#2bde73 ;
}

/* Mobile and Tablet Styles */
@media (max-width: 991px) {
      
.nav.navbar-nav >li>a {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 4;
    margin-right: 0px;    

}     
   
}

@media (max-width: 769px) {
      
.nav.navbar-nav >li>a {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1;
    margin-right: 0px;    

}     
   #nav-brand{
    display:hidden;
   }
}
